/* Обычный */
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

/* Жирный */
@font-face {
    font-family: 'Poppins bold';
    src: url('./fonts/Poppins-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.home {
    width: 1511px;
    height: 886px;
    background-color: #fcfbf7;
    padding-left: 87px;
    padding-right: 65px;
    padding-top: 39px;

    background-image: url("./img/basket-food.png");
    background-repeat: no-repeat;
    background-position: 80% 40%;
    background-size: 40%;
}

.logo__name {
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    color: black;
    display: inline;
}

.logo__img {
    width: 32px;
    height: 32px;
}

ul {
    display: inline;
    margin-left: 340px;
}

li {
    display: inline;
    font-size: 22px;
    line-height: 21px;
    color: black;
    font-weight: 400;
    margin-right: 56px;
}

.input__field {
    margin-left: 80px;
    border: none;
    background-color: #FFF9F0;
    background: rgba(255, 249, 240, 0.1);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.1);
    font-size: 22px;
    font-weight: 400;
    line-height: 21px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    color: black;
    padding: 0 80px;
}

.input__field::placeholder {
    color: #000000;
}

.form__search {
    display: inline;
    width: 300px;
    position: relative;

}

.form__search::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-image: url("./img/Vector.png");
    background-repeat: no-repeat;
    background-position: center;

    left: 130px;
    top: 40%;
    transform: translateY(-50%);
}

.form__search::after {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    background-image: url("./img/Shopping-cart.png");
    background-repeat: no-repeat;
    background-position: center;

    height: 45px;
    right: 40px;
    top: 40%;
    transform: translateY(-50%);
    border-left: 1px solid #948c8c49;
    padding-left: 30px;
}

.number {
    position: absolute;
    display: inline;

    right: 40px;
    background-color: #EC2633;
    box-shadow: 0px 2px 23px 1px rgba(255, 51, 52, 0.72);
    width: 17px;
    height: 17px;
    font-size: 10px;
    font-weight: 400;

    text-align: center;

    border-radius: 50%;
    padding-top: 2px;

    color: #ffffff;
}

h1 {
    color: #2f2f2f;
    font-weight: 700;
    font-size: 52px;
    line-height: 49px;
    display: inline-block;
    width: 211px;
    margin-left: 18px;
}

h2 {
    color: #ff7e00;
    font-weight: 700;
    font-size: 125px;
    line-height: 119px;
    display: inline;

}

.header__descr {
    color: #909090;
    font-size: 22px;
    line-height: 31px;
    font-weight: 400;
    display: inline-block;
    width: 568px;
}

.btn__order {
    background-color: #2f2f2f;
    width: 188px;
    height: 70px;
    border: 1px solid #2f2f2f;
    border-radius: 32px;
    color: #f4ece1;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    cursor: pointer;
    margin-top: 44px;
}

.btn__wvideo {
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #2f2f2f;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 44px;
    margin-left: 96px;
}

.wrapper {
    display: block;
    width: 568px;
    margin-top: 24px;
}

.company__descr {
    margin-top: 152px;
}